/******************************************************
BUTTONS AND ICONS
classes for buttons and icons
*/


/*******************
BUTTONS
*******************/
	
/*******************
ICONS
*******************/


.more_link,
.more-link{
	background: url(../_images/icons/arrow_blue_right_6x9.png) no-repeat left 6px;
	text-transform: uppercase;
	font-size: .84em;
	line-height: 1.2em;
	display: block;
	padding: 5px 0 10px 11px;
	}